.main-container {
    display: flex;
    flex-wrap: wrap;


    .emp-card {
        padding: 10px;
    }
}

.d-flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.image-container img{
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.bi-send{
    padding-right: 10px;
    cursor: pointer;
}

ngb-rating{
    color: yellow;
    font-size: 30px;
}

 .bod {
    border-bottom: 1px solid lightgray;
    padding: 3px;
  }

  .card-body{
    cursor: pointer;
  }

  .w-99{
    max-width: 99vw;
  }
